<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transformada de Laplace</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
        select {
            width: 100%;
            font-size: 1.2em;
            height: 3em; /* Ajusta la altura según sea necesario */
        }
    </style>
</head>
<body>
    <h1>Calculadora de Transformada de Laplace</h1>
    <label for="equation-select">Elija una opción:</label>
    <select id="equation-select" onchange="updateEquation()">
        <option value="eq1">Función de grado 0 con suma de términos y desplazamiento</option>
        <option value="eq2">Función exponencial de primer grado</option>
        <option value="eq3">Función exponencial de segundo grado con coseno</option>
    </select>
    <p id="equation"></p>
    <button onclick="calculateLaplace()">Calcular Transformada L</button>
    <p id="result"></p>

    <script src="/static/script.js"></script>
</body>
</html>